.about-page{
 display: grid;
 grid-template-columns: repeat(2, 1fr); 
 height: 70vh;
 padding-top: 100px;

}
.about-page img{
    width: 400px;
}
.about-right-side{
    margin-top: 50px;
}
.about-right-side h5{
    font-size: 20px;
    color: rgb(3, 13, 68);
    font-weight: 500;
}
.about-right-side h1{
    margin-top: 10px;
    font-size: 70px;
    font-weight: 600;
}
.about-right-side p{
    line-height: 28px;
    font-size: 18px;
    color: rgb(68, 68, 68);
}
.btn{
    width: 150px;
}

@media only screen and (max-width: 1000px) {
    .about-page{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        height: auto;
        padding-top: 100px;
        width: 100%;
       
       }
       .about-right-side{
        width: 100%;
    }
    .about-page img{
        width:100%;
    }

}